#carouselHome{
    margin-top: $navbar-height;
/*    .carousel-item{
        filter: blur(5px);
            
            &:hover{
                filter: none;
            }
            
        .carousel-caption{
            filter: none !important;
            
        }
    }*/
    
}