#carouselHome{
    margin-top: $navbar-height;
    
    .carousel-caption{
/*           padding-top: 0;
           padding-bottom: 0;*/
            
        }
/*    .carousel-item{
        filter: blur(5px);
            
            &:hover{
                filter: none;
            }
            
        .carousel-caption{
            filter: none !important;
            
        }
    }*/
    
}