/*---------------------
  Contact
-----------------------*/

#contacto{

    .medio-contacto{
        min-height: 5em !important                                     ;
    }

    .social-media{
        text-align: center;
        a{
            margin-right: .20em;            
        }
        img{
            width: 11%;
        }
    }





}