
@media (max-width: 991px){

    header.masthead {
        
        .principal{
            text-align: center;
            
            img{
                width: 70%;
            }  
        }

        .covid, .whatsapp, .email{
            font-size: 85% !important;
            padding-top:.15rem;
            padding-bottom:.15rem;
        }
    }

}


@media (min-width: 992px){

    header.masthead {        
        .principal{
            text-align: left;
        }        
    }

}
