#navbar{
    .navbar-brand{
        
        img{
            width: 38%;
        }
        font-weight: bold;
        color: $primary-color;
        font-size: 90%;
        /*word-break: break-all;*/
    }
}