#navbar{        
    /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);*/
    
    .navbar-brand{
        
        img{
            width: 38%;
        }
        font-weight: bold;
        color: $primary;
        font-size: 90%;
        /*word-break: break-all;*/
    }
}