#navbar{        
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .25);
    /*color: $light !important;*/
    /*background-color: $rich-black;*/
    .nav-item > a{
        color: $primary;
        /*font-weight: 300;*/
    }
    
    .navbar-brand{
        
        /*color: $light !important;*/
        
        img{
            width: 38%;
        }
        
        font-weight: bold;
        color: $primary;
        font-size: 90%;
        /*word-break: break-all;*/
    }
}