
/*Paleta de colores:*/
/*-------------------------------------------------------*/
/* Buscar colores en: https://coolors.co/ */
$light-gray: #D3D4D9;
$blue-munshell: #4B88A2;
$lapis-lazuli: #1C5D99;
$firebrick: #BB0A21;
$rosewood: #570000;
$upsdell-red: #B10F2E;
$raisin-black: #252627;
$rich-black: #0D1321;
$snow: #FFF9FB;
$cultured: #EFEFEF;
$baby-powder: #FFFCF9;
$pewter-blue: #93A8AC;
$bone: #d7ceb2;
$alabaster: #D8E2DC;
$gainsboro: #E2DCDE;
$max-yellow-red: #E3B23C;
$middle-yellow: #FEEA00;
$beige: #EDEBD7;
$mint-cream: #F4FFFD;
$lavender-blush: #EEE5E9;
$lavender-blue: #B7C3F3;
$yellow-green: #38A700;
$azul-gob-stafe: #00548f;
$whatsapp: #25D366;
$pink: #f891a5;


/*Override de colores*/
/*-------------------------------------------------------*/
/* "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
*/
$primary: $azul-gob-stafe;
$danger: $firebrick;
$dark: $raisin-black;
$light: $cultured;
$warning: $max-yellow-red;

/*$secondary:     $gray-600 !default;*/
/*$success:       $green !default;*/
/*$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;*/


/*$primary-color: #5768AD;*/
/*$primary: $blue-munshell;*/
/*$light: $snow;*/
/*$seconday-color: #120851;*/
/*$white-color: #ffffff;*/
/*$heading-color: #263246;*/
/*$para-color: #6f6f6f;*/
/*$black-color: #000000;*/
/*$heading-color-2: #252525;*/
/*$normal-color: #1c1c1c;*/
/*$background: #f5f5f5;*/
/*$background-2: #f2f2f2;*/
/*$border: #ebebeb;*/
/*$border-1: #e1e1e1;*/
$navbar-height: 63px;

/*$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;*/



$colors: (
    /*'whatsapp': $whatsapp*/
/*        'gray-100': $gray-100,
        'gray-200': $gray-200,
        'gray-300': $gray-300,
        'gray-400': $gray-400,
        'gray-500': $gray-500,
        'gray-600': $gray-600,
        'gray-700': $gray-700,
        'gray-800': $gray-800,
        'gray-900': $gray-900,*/
/*        'black': $black,
        'color-primario': $color-primario,
        'color-default': $color-default*/
);

//@each $name, $color in $colors{
//  .bg-#{$name} {
 //   background-color: $color;
 // }

 // .text-color-#{$name}{
 //   color: $color;
  //}
//}*/


/*
Definir la ruta relativa en relacion al archivo style.css que esta un directorio arriba
*/
$base_font_path: 'fonts/Open_Sans/';

@font-face {    
  font-family: Open_Sans_Font;
  src: url( '#{$base_font_path}/OpenSans-Light.ttf');  
  font-weight: normal;
}

@font-face {    
  font-family: Open_Sans_Font;
  src: url( '#{$base_font_path}/OpenSans-SemiBold.ttf');  
  font-weight: 300;
}

@font-face {
  font-family: Open_Sans_Font;  
  src: url( '#{$base_font_path}/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Open_Sans_Font;  
  src: url( '#{$base_font_path}/OpenSans-Italic.ttf');
  font-style: italic
}

/*@font-face {
  font-family: Open_Sans_Font;  
  src: url( '#{$base_font_path}/OpenSans-ExtraBold.ttf');
  font-weight: bolder;
}*/