<?php

define('PAGINA_ORG_APORTANTES', 5);
define('PAGINA_PRESTACIONES', 12);
define('PAGINA_SERVICIOS', 15);
define('PAGINA_CONTACTO', 17);
define('PAGINA_QUIENES_SOMOS', 7);
define('PAGINA_HISTORIA', 13);
define('PAGINA_POLITICA_CALIDAD', 16);
define('PAGINA_DELEGACIONES', 18);

