<?php

define('PAGINA_QUIENES SOMOS', 30);
define('PAGINA_ORG_APORTANTES', 9);
define('PAGINA_PRESTACIONES', 12);
define('PAGINA_SERVICIOS', 15);
define('PAGINA_CERTIFICACION_NEGATIVA', 45);
define('PAGINA_SITIOS_DE_INTERES', 47);
define('PAGINA_CAJAS_PROFESIONALES', 47);
define('PAGINA_CONTACTO', 17);
define('PAGINA_HISTORIA', 13);
define('PAGINA_POLITICA_CALIDAD', 16);
define('PAGINA_DELEGACIONES', 18);
define('PAGINA_BIBLIOTECA_NORMATIVAS', 43);
define('PAGINA_BIBLIOTECA_FORMULARIOS', 41);
define('PAGINA_BIBLIOTECA_INSTRUCTIVOS', 20);
define('PAGINA_NOVEDADES', 22);
define('PAGINA_LA_CAJA_EN_NUMEROS', 24);
define('PAGINA_DESCARGA_RECIBO', 26);
define('PAGINA_BIBLIOTECA', 28);

