<?php

define('PAGINA_ORG_APORTANTES', 9);
define('PAGINA_PRESTACIONES', 12);
define('PAGINA_SERVICIOS', 15);
define('PAGINA_CONTACTO', 17);
define('PAGINA_INSTRUCTIVOS', 20);
define('PAGINA_NOVEDADES', 22);
define('PAGINA_LA_CAJA_EN_NUMEROS', 24);
define('PAGINA_DESCARGA_RECIBO', 26);
define('PAGINA_BIBLIOTECA', 28);

